<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterJava</servlet-name>
        <servlet-class>RegisterJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginJava</servlet-name>
        <servlet-class>LoginJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalDocument</servlet-name>
        <servlet-class>PersonalDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitInfoJava</servlet-name>
        <servlet-class>SubmitInfoJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentUploadJava</servlet-name>
        <servlet-class>DocumentUploadJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalDocumentJava</servlet-name>
        <servlet-class>PersonalDocumentJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPersonalDocument</servlet-name>
        <servlet-class>ShowPersonalDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowVehicleJava</servlet-name>
        <servlet-class>ShowVehicleJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>policeSearchUserJava</servlet-name>
        <servlet-class>policeSearchUserJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDocumentPolice</servlet-name>
        <servlet-class>userDocumentPolice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutJava</servlet-name>
        <servlet-class>logoutJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showFullImage</servlet-name>
        <servlet-class>showFullImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePersonalDocumentJava</servlet-name>
        <servlet-class>updatePersonalDocumentJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>try1</servlet-name>
        <servlet-class>try1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserDocument</servlet-name>
        <servlet-class>updateUserDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePersonalDocumentJava1</servlet-name>
        <servlet-class>updatePersonalDocumentJava1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilePage</servlet-name>
        <servlet-class>profilePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterJava</servlet-name>
        <url-pattern>/RegisterJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginJava</servlet-name>
        <url-pattern>/LoginJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalDocument</servlet-name>
        <url-pattern>/PersonalDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitInfoJava</servlet-name>
        <url-pattern>/SubmitInfoJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentUploadJava</servlet-name>
        <url-pattern>/DocumentUploadJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalDocumentJava</servlet-name>
        <url-pattern>/PersonalDocumentJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPersonalDocument</servlet-name>
        <url-pattern>/ShowPersonalDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowVehicleJava</servlet-name>
        <url-pattern>/ShowVehicleJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>policeSearchUserJava</servlet-name>
        <url-pattern>/policeSearchUserJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDocumentPolice</servlet-name>
        <url-pattern>/userDocumentPolice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutJava</servlet-name>
        <url-pattern>/logoutJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showFullImage</servlet-name>
        <url-pattern>/showFullImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePersonalDocumentJava</servlet-name>
        <url-pattern>/updatePersonalDocumentJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>try1</servlet-name>
        <url-pattern>/try1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserDocument</servlet-name>
        <url-pattern>/updateUserDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePersonalDocumentJava1</servlet-name>
        <url-pattern>/updatePersonalDocumentJava1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilePage</servlet-name>
        <url-pattern>/profilePage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
